In [4]:
import pandas as pd
import sklearn

In [7]:
data=pd.read_csv('/Users/niuyuefeng/Desktop/Penn state course/4/Second semester/Stat 380/Coin_flips/project/volumn/data/raw/train_file.csv')
data.head()

   id  V1  V2  V3  V4  V5  V6  V7  V8  V9  V10  result
0   1   0   0   0   0   0   0   1   0   0    0       0
1   2   0   1   0   0   0   0   0   0   0    0       0
2   3   1   1   1   1   1   1   0   1   0    1       1
3   4   0   1   0   1   1   1   1   1   0    1       1
4   5   0   0   0   0   0   0   0   0   1    0       0

In [11]:
#check if there is any empty value
data.columns[data.isnull().any()]

Index([], dtype='object')